<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>吾人商店</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
</head>
<body>
  <h1>吾人商店</h1>
  <div class="container">
  <div class="row desc">
  <div class="col">
    <h2><i class="fas fa-kiwi-bird"></i>  銷售分析</h2>
    <p>目前還沒有寫code</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-smile-wink"></i>  圖形化分析</h2>
    <p>目前也還沒有寫code</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-leaf"></i>  消費紀錄</h2>
    <p>真的都沒寫</p>
    </div>
  </div>
</div>
  <p>這是簡單的架設</p>
  <img srcset="/static/img/logo.png" 1200 loading="lazy">
</body>
</html>